<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="LearnKit Test Suite">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./includes</directory>
			<directory suffix=".php">./admin</directory>
			<directory suffix=".php">./public</directory>
			<exclude>
				<directory suffix=".php">./vendor</directory>
				<directory suffix=".php">./node_modules</directory>
				<directory suffix=".php">./tests</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
